.App {
  font-family: "IM_Bold", "IM_HyeMin";
}

@font-face {
  font-family: "IM_HyeMin";
  src: url(/src/assets/font/IM_Hyemin-Regular.ttf);
}

@font-face {
  font-family: "IM_HyeMin";
  src: url(/src/assets/font/IM_Hyemin-Bold.ttf);
  font-weight: bold;
}